<!DOCTYPE html>

{% load static %}


<html lang=en >
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'word_manage_app/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script type="text/javascript" src="{% static 'word_manage_app/tab.js'%}">
    </script>

</head>
<title>Index page</title>
    

<header>
   <div id = "header1" >User is: {{user}}</div> <br>
   

</header>

<body>

<div class="tab_area">
    <label class="tab1_label" for="tab1">tab1</label>
    <label class="tab2_label" for="tab2">tab2</label>
    <label class="tab3_label" for="tab3">tab3</label>
</div>
    <div class="panel_area">
        <div id="panel1" class="tab_panel">
            <p>panel1</p>
        </div>
        <div id="panel2" class="tab_panel">
            <p>panel2</p>
        </div>
        <div id="panel3" class="tab_panel">
            <p>panel3</p>
        </div>
    </div>
</div>



{% if word_list %}
    <p>Word Exists</p>
    {% for word in word_list %}
        <article>
        	<li>ID: {{word.id}}</li>
        	<li>ForLoopID: {{ forloop.counter }}</li>
        	<li><a href="{% url 'word_manage_app:detail' word.id %}">{{ word.new_word}}</a></li>
        	
            <br>
        </article>
    	<!--
		{% url 'word_manage_app:detail' word.id %}は
		href="/word_manage_app/{{ word.id }/detail}
		と同じ
    	-->    
    {% endfor %}

{% else %}
    <p>No words are available.</p>
{% endif %}
</body>


---------------------------<br>
<footer>
    footer<br>
{% if user.is_superuser %}
<a href = "{% url 'admin:index' %}" target="_blank">admin index page</a>
{% else %}
user is not superuser

{% endif %}
</footer>

</html>
<!--
'admin:word_manage_app_word_add'でadminサイトの
ワード追加ページに移行できる
adminサイトにも逆引き出来るviewの名前があり、
アプリ名_モデル名_内容（注:内容はaddやdetailなど）で、逆引き出来る
参照:https://docs.djangoproject.com/en/2.1/ref/contrib/admin/
Reversing admin URLs

target="_blank"を付けると
-->