<!DOCTYPE html>

{% load static %}

<html lang=en >

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'word_manage_app/style.css' %}">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    </script>

    <script src="{% static 'word_manage_app/app.js'%}"></script>
    <script src="{% static 'word_manage_app/tab.js'%}"></script>
    <script src="{% static 'word_manage_app/tab2.js'%}"></script>

    
    <title>Index page</title>
    
</head>


<header>
   <div id = "header1" >User is: {{user}}</div> <br>
</header>

<body>
    

    <script>
        console.log("{% static 'word_manage_app/tab.js'%}");

        console.log(window);
    </script>

    <div class="tab_wrap">
        <div class="tab_area">
            <label class="tab1_label" for="panel1">tab1</label>
            <label class="tab2_label" for="panel2">tab2</label>
        </div>

        <div class="panel_area">
            <div id="panel1" class="tab_panel">
                <p>panel1</p>
            </div>
            <div id="panel2" class="tab_panel">
                <p>panel2</p>
            </div>
        </div>
    </div>
    <button>ボタン</button><br>




    
</body>



---------------------------<br>
<footer>
    footer<br>
{% if user.is_superuser %}
<a href = "{% url 'admin:index' %}" target="_blank">admin index page</a>
{% else %}
user is not superuser

{% endif %}
</footer>

</html>
<!--
'admin:word_manage_app_word_add'でadminサイトの
ワード追加ページに移行できる
adminサイトにも逆引き出来るviewの名前があり、
アプリ名_モデル名_内容（注:内容はaddやdetailなど）で、逆引き出来る
参照:https://docs.djangoproject.com/en/2.1/ref/contrib/admin/
Reversing admin URLs

target="_blank"を付けると
-->